* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "main-content"
    "footer";
    height: 100vh;
}

/* header {
    grid-area:header;
    margin: 1.5rem;
    padding: 1.2rem;
} */

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    align-items:center;
    justify-content: center;
    list-style-type:none;
    overflow: hidden;
    background-color:rgba(255, 255, 255, 1);
    width: 100%;

}

nav li {
    /* Gör så att listan hamnar vågrätt */
    display: inline;
    margin: 1.2rem;
}

nav a {
    /* Tar bort understrecket i länken */
    text-decoration: none;
    color: black;
    font-weight:500;
    margin: 3rem;
}


.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "intro-center"
    "intro-secondary"
    ;
}

#intro-image-center {
    display: grid;
    grid-area: intro-center;
    /* margin:auto;
    padding: 10rem; */
}

.full-width-image {
    height: auto;
    width: 100%;
    display: block;
}

h1 {
    font-size: 4rem;
    text-align: center;

}

.bokabord-knapp {
    margin: 3rem;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: rgb(15, 13, 13);
    text-decoration: none;
    list-style-type: none;
    color:white;
    font-weight: 550;
}


#intro-secondary {
    grid-area: intro-secondary;
    text-align: center;
    margin: auto;
    width: 600px;
}

#intro-secondary h2{
    font-size:  2.5rem;
    margin-bottom: 2rem;
}

#intro-p1, p{
    margin-bottom: 1.5rem;
}

#intro-p1, p {
    font-size: 140%;
}

#meny-mat h2 {
    text-align: center;
    margin: 4rem;
    font-size: 2rem;
}





.footer {
    grid-area: footer;
}
